.carousel img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que las imágenes mantengan su proporción */
}

.carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 10%;
  right: 10%;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .carousel img {
    height: auto; /* Ajusta automáticamente la altura en dispositivos móviles */
  }

  .carousel-caption {
    font-size: 0.8rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    bottom: 5%; /* Ajusta la posición del texto */
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-size: 30%; /* Ajusta el tamaño de los íconos de navegación */
  }
}
